*{

    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
container{

    width:100%;
    min-height: 100px;
    display: flex;
    padding-left: 80px;
    justify-content: center;
    padding:5%;
    background-position: center;
    text-align: center;
   
    
}
body{

    background-color: rgb(212, 219, 216);
}
h3{

    text-align: center;
    padding-top: 80px;
}
.search-bar{

    width:50%;
    max-width: 700px;
    background-color:rgb(247, 245, 244);
    display:flex;
    border-radius:25px;
    padding: 10px;
    margin-top: 80px;
}
.search-bar input{
    
    background: transparent;
    font-size: 17px;
    border-style: none;
    outline: none;
    flex: 1;

}
.search-bar button img{
    /* border: 0; */
    border:none;
    background: transparent;
    border-style: none;
    outline: none;
    border-radius:50%;
    width:30px;
    height:30px;
    cursor: pointer;
    background-color: rgb(212, 219, 216);
    
}

.search-bar button {

    border-style:none;
    background-color:rgb(247, 245, 244);
}

#details{

    padding: 20px;
}