*{

    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
container{

    width:100%;
    min-height: 100px;
    display: flex;
    padding-left: 60px;
    justify-content: center;
    padding:5%;
    background-position: center;
    text-align: center;
   
    
}
body{

    background-color: rgb(212, 219, 216);
   
}
h3{

    text-align: center;
    padding-top: 60px;
}
.search-bar{

    width:100%;
    /* max-width: 700px; */
    background-color:rgb(247, 245, 244);
    /* display:flex; */
    border-radius:25px;
    padding: 10px;
    margin-top: 80px;
    /* justify-content: center; */
    
}
.search-bar input{
    
    background: transparent;
    font-size: 17px;
    border-style: none;
    outline: none;
    padding-left: 20px;
    padding-top: 5px;
    /* flex: 1; */

}
.search-bar button img{
    /* border: 0; */
    border:none;
    background: transparent;
    border-style: none;
    outline: none;
    border-radius:50%;
    width:30px;
    height:30px;
    cursor: pointer;
    background-color: rgb(212, 219, 216);
    
}

.search-bar button {

    border-style:none;
    background-color:rgb(247, 245, 244);
}


/* #details{


    padding-top: 60px;
    padding: 20px;
    border-radius: 50%;
} */
/* #DImg{

    border-radius: 20px;
} */
/* #bio{

    border-radius:20px;
    padding-top: 60px;
} */

.container details {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none;
    backdrop-filter: none;
    box-shadow: none;
  }
  
  *{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppin',sans-serif;
    
}

#profile{


    width:50%;
    height: 60vh;
    margin-top: 70px;
    display: flex;
    align-items: left;
    justify-content:center;

}
#profile2{


    width:50%;
    height: 80vh;
    margin-top: 60px;
    display: flex;
    align-items: right;
    justify-content:center;
    /* padding-top: 40px; */

}

.profile-box{

    background-color: rgb(170, 193, 177);
    text-align: center;
    padding: 10px 40px;
    position:relative;
    border-radius: 20px;
     
}

.profile-pic{
    padding: 6px;
    margin-top: 10px;
}

